.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-header {
  text-align: center;
  margin-bottom: 10px;
}

.header-icon {
  font-size: 40px;
  color: var(--color-primary);
  opacity: 0.9;
}

.form-left {
  border-right: 2px solid var(--color-gray-dark);
  padding-right: 20px;

  img {
    height: 320px;
    opacity: 0.9;
  }
}

.form-right {
  margin-left: 30px;
  display: flex;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}

.login-btn {
  background: var(--color-primary);
  color: var(--color-blue);
  border: 1px solid var(--color-gray-dark);
  border-radius: 20px;
  padding: 10px 0;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.register {
  text-align: center;
  width: 100%;
  margin-top: -5px;

  a {
    color: var(--color-gray-dark);
    font-size: 0.9rem;
    text-decoration: underline;
  }
}

.error {
  color: var(--color-failed-text);
  font-size: 0.9rem;
  text-align: center;
  margin-top: -10px;
}
